<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <services>
      <configurator patch:after="configurator[@type='Sitecore.Foundation.CDN.RegisterDependencies, Sitecore.Foundation.CDN']" type="Sitecore.Feature.CDN.RegisterDependencies, Sitecore.Feature.CDN.Azure" />
    </services>

    <akamai type="Sitecore.Feature.CDN.AkamaiSettings">
      <username>*****</username>
      <password>*****</password>
      <queue>default</queue>
      <apipoint>https://api.ccu.akamai.com/ccu/v2/queues/</apipoint>    
    </akamai>
  </sitecore>
</configuration>
