<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <services>
      <configurator patch:after="configurator[@type='Sitecore.Foundation.CDN.RegisterDependencies, Sitecore.Foundation.CDN']" type="Sitecore.Feature.CDN.RegisterDependencies, Sitecore.Feature.CDN.Azure" />
    </services>

    <!--Akamai Setting : Below are the default settings fir type, action, domain
     action: is action=invalidate or action=remove
     domain: is domain=production or domain=staging 
     type: type=cpcode or type=arl >> arl: akamai resource locator.      
     To use the type cpcode option, your administrator must enable purge-by-cpcode access for your username through Akamai EdgeControl-->
    <akamai type="Sitecore.Feature.CDN.AkamaiSettings">
      <username>*****</username>
      <password>*****</password>
      <queue>default</queue>
      <apipoint>https://api.ccu.akamai.com/ccu/v2/queues/</apipoint>
      <action>remove</action>
      <type>arl</type>
      <domain>production</domain>
    </akamai>
  </sitecore>
</configuration>
